<%- include('../Partials/Header.ejs') -%>
    <div class="ms-300 mt-80">
        <div class=" p-4 rounded-4 m-4 pt-5">
            <h2 class="text-light mt-5 ms-5 ">Welcome To Movie Page</h2>
        </div>
    </div>
    <%- include('../Partials/Footer.ejs') -%>